<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">    <!--config-->
<head>
    <meta charset="UTF-8">
    <title>List Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<h2>Product Details</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr class="table-active">
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 15%">Product Name<</th>
        <th scope="col" style="width: 5%">Description</th>
        <th scope="col" style="width: 30%">Date of Manufacture</th>
        <th scope="col" style="width: 5%">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <th scope="row" th:text="${productStat.index + 1}"></th>
        <td th:text="${product.prodName}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.dateOfManf}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>

<h2>Sales Details</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr class="table-active">
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 15%">Salesman ID<</th>
        <th scope="col" style="width: 5%">Product ID</th>
        <th scope="col" style="width: 30%">Salesman Name</th>
        <th scope="col" style="width: 5%">Date of Sale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sale : ${sales}">
        <th scope="row" th:text="${saleStat.index + 1}"></th>
        <td th:text="${sale.salesmanID}"></td>
        <td th:text="${sale.product.prodID}"></td>
        <td th:text="${sale.salesmanName}"></td>
        <td th:text="${sale.DOS}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>